<header class=" w-all px-4 pt-4">
    {{/*  CSS functionality for menu toggle  */}}
    <style type="text/css">
        input#nav-toggle:checked~label#show-button {
            display: none;
        }

        input#nav-toggle:checked~label#hide-button {
            display: flex;
        }

        input#nav-toggle:checked~#nav-menu {
            display: block;
        }
    </style>

    <nav class="flex w-5/6 content-end items-center justify-between flex-wrap mt-6">
        <span class="flex"></span>
        <input id="nav-toggle" type=checkbox class="hidden">
        <label id="show-button" for="nav-toggle" class="flex items-center block sm:hidden text-ridiculousblue hover:text-ridiculousorange">
            <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu Open</title>
                <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z" />
            </svg>
        </label>
        <label id="hide-button" for="nav-toggle" class="flex items-center hidden text-ridiculousblue hover:text-ridiculousorange">
            <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu Close</title>
                <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
                         transform="rotate(45 10 10)" />
            </svg>
        </label>
        <ul id="nav-menu" class="sm:flex w-full sm:w-auto hidden sm:block mt-2 sm:mt-0 sm:space-x-2 text-xxs
                                 text-ridiculousblue hover:text-ridiculousorange font-baloo font-medium">
            {{ with .Site.GetPage "/" }}
            <li><a href="{{ .Permalink }}" class="mr-4">Home</a></li>
            {{ end }}
            {{ range .Site.Sections }}
            <li><a href="{{ .Permalink }}" class="mr-4">{{ .Title }}</a></li>
            {{ end }}
            {{ with .Site.GetPage "/about" }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </nav>
</header>

