{{ define "main" }}
<div class="container mx-auto  2xl:w-2/3">

    <div class="pl-20">
        <div class=" md:-mt-5 lg:-mt-12  2xl:-mt-0 transform  rotate-45  absolute rounded-none md:w-40 md:h-40  lg:w-52 lg:h-52 2xl:w-64 2xl:h-64 -z-10 bg-ridiculousyellow"></div>
    </div>
    <div class="flex-col md:w-2/5 md:pl-14 text-ridiculousblue">
        <div class="md:pt-6 2xl:pt-20">
            <figure class="md:flex rounded-xl p-8 md:p-0 space-x-3">
                <img class="object-contain w-20 2xl:w-24 h-20 2xl:h-24 md:rounded-none rounded-full  mx-auto" src="img/sc_index.jpg" alt="">
                <div class="pt-2 md:leading-none lg:leading-normal  md:pt-1.5 md:pl-2 text-center md:flex-1 md:text-left ">
                    <h1 class="text-xheader 2xl:text-xheader2 font-neuton font-bold">Subhabrata Choudhury</h1>
                    <div class="text-xxxs 2xl:text-xxx2s leading-tight font-montserrat text-ridiculousblue">
                        <p>PhD Candidate</p>
                        <p>Visual Geometry Group</p>
                        <p>University of Oxford</p>
                        <p>United Kingdom</p>
                    </div>
                </div>
            </figure>
        </div>
        <div class="md:pt-10 2xl:pt-10"> </div>
        <div class="pt-2 md:pt-4 2xl:pt-5">
            <figure class="md:flex rounded-xl p-2 md:p-0 space-x-3 2xl:space-x-5">
                <img class="object-contain w-14 2xl:w-16 h-14 2xl:h-16 md:rounded-none mx-auto" src="img/ox.svg" alt="">
                <div class="pt-2 md:leading-none lg:leading-normal  md:pt-0 2xl:pt-0 md:pl-2 text-center md:flex-1 md:text-left">
                    <h1 class="text-xxxs  2xl:text-xxx2s font-montserrat">University of Oxford</h1>
                    <div class="text-xxxxs  2xl:text-xxx1s leading-snug font-montserrat font-light text-ridiculousblue">
                        <p>PhD Candidate, Engineering Science</p>
                        <p>Advised by: <a target=_blank href=https://www.robots.ox.ac.uk/~vedaldi/>Prof. Andrea Vedaldi</a></p>
                        <p>United Kingdom, 2019-present</p>
                    </div>
                </div>
            </figure>
        </div>
        <div class="pt-2 md:pt-4 2xl:pt-5">
            <figure class="md:flex rounded-xl p-2 md:p-0 space-x-3 2xl:space-x-5">
                <img class="w-14 2xl:w-16 h-14 2xl:h-16 md:rounded-none mx-auto" src="img/minerva.svg" alt="">
                <div class="pt-2 md:leading-none lg:leading-normal  md:pt-0 2xl:pt-1 md:pl-2 text-center md:flex-1 md:text-left">
                    <h1 class="text-xxxs 2xl:text-xxx2s font-montserrat">Max-Planck Institute for Informatics</h1>
                    <div class="text-xxxxs 2xl:text-xxx1s leading-snug font-montserrat font-light text-ridiculousblue">
                        <p>MSc, Computer Science</p>
                        <p>Advised by: <a target=_blank href=https://www.mpi-inf.mpg.de/departments/computer-vision-and-machine-learning/people/bernt-schiele>Prof. Bernt Schiele</a></p>
                        <p>Germany, 2018-2019</p>
                    </div>
                </div>
            </figure>
        </div>
        <div class="pt-2 md:pt-4 2xl:pt-5">
            <figure class="md:flex rounded-xl p-2 md:p-0 space-x-3 2xl:space-x-5 ">
                <img class="object-contain w-14 2xl:w-16 h-14 2xl:h-16 md:rounded-none  mx-auto" src="img/uds.svg" alt="">
                <div class="pt-2 md:leading-none lg:leading-normal  md:pt-0 2xl:pt-3 md:pl-2 text-center md:flex-1 md:text-left">
                    <h1 class="text-xxxs 2xl:text-xxx2s font-montserrat">Saarland University</h1>
                    <div class="text-xxxxs 2xl:text-xxx1s leading-snug font-montserrat font-light text-ridiculousblue">
                        <p>MSc, Computer Science</p>
                        <p>Germany, 2017-2019</p>
                    </div>
                </div>
            </figure>
        </div>
        <div class="pt-2 md:pt-4 2xl:pt-5">
            <figure class="md:flex rounded-xl p-2 md:p-0 space-x-3 2xl:space-x-5">
                <img class="object-contain w-14 2xl:w-16 h-14 2xl:h-16 md:rounded-none  mx-auto" src="img/kgp.svg" alt="">
                <div class="pt-2 md:leading-none lg:leading-normal  md:pt-0 2xl:pt-1 md:pl-2 text-center md:flex-1 md:text-left">
                    <h1 class="text-xxxs 2xl:text-xxx2s font-montserrat">IIT Kharagpur</h1>
                    <div class="text-xxxxs 2xl:text-xxx1s leading-snug font-montserrat font-light text-ridiculousblue">
                        <p>B.Tech, Metallurgical and Materials Engineering</p>
                        <p>Advised by: <a target=_blank href=http://www.iitkgp.ac.in/department/MT/faculty/mt-rahul>Prof. Rahul Mitra</a></p>
                        <p>India, 2009-2013</p>
                    </div>
                </div>
            </figure>
        </div>
    </div>
    <div class="flex-1  md:w-3/5">
    </div>
</div>
{{ end }}



